#splash_about {
    background-image: url(../img/pattern.webp);
    border-top: 4px solid #402D1D;
    border-bottom: 4px solid #402D1D;
}

#profile {
    max-width: 41vh;
    height: 60vh;
    object-fit: cover;
    margin-bottom: 10px;
}

section {
    margin: 20px 0;
}

section :first-child {
    font-weight: 1000;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 650px) {
    #profile {
        max-width: 61vh;
        height: 95vh;
    }    
}