#splash_about {
    background-image: url(/img/Pattern.webp);
    border-top: 4px solid #402D1D;
    border-bottom: 4px solid #402D1D;
}

#profile {
    max-width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}