#splash_forside {
  height: clamp(300px, 55vw, 125vh);
  background-image: url(/img/splash.webp);
}

#bottom_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  text-align: center;
  padding-inline-start: 0px;
  gap: 15px;
  padding-block-start: 60px;
  padding-block-end: 60px;
}

#bottom_menu li {
  text-align: center;
}

#bottom_menu li a img {
  max-width: 80vw;
  height: 10vh;
  object-fit: cover;
}

@media (min-width: 650px) {
  #bottom_menu{
    flex-direction: row;
  }
  
#bottom_menu li a img {
    max-width: 10vw;
    height: 80vh;
    object-fit: cover;
  }
}

@media (min-width: 1500px) {
  
}