#splash {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(300px, 85vw, 125vh);
  background-image: url(/img/splash.webp);
  background-size: cover;
  color: white;
  margin-top: -10%;
}

#bottom_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 60vw;
  text-align: center;
  padding-inline-start: 0px;
  gap: 10px;
}

#bottom_menu li {
  text-align: center;
}

#bottom_menu li a img {
  max-width: 18vh;
  height: 80vh;
  object-fit: cover;
}
