#splash {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(300px, 65vw, 125vh);
  background-image: url(/img/splash.webp);
  background-size: cover;
  color: white;
  margin-top: -10%;
}

#bottom_menu {
  background-size: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin: 60px;
  height: 85vh;
  margin-block-end: 100px;
}

#bottom_menu img {
  background-size: 600%;
  background-position: 0% 0%;
  object-fit: cover;
  height: 868px;
  width: 186px;
  justify-content: center;
}