/* Generel */
@font-face {
  font-family:"grobe deutchmeister";
  src: url("../fonts/grobe_deutschmeister.ttf") format("truetype");
}

:root {
  --white: #FFFFFF;
  --sand: #FFECDB;
  --dark-sand: #bea691;
  --rock: #735E4C;
  --dark-rock:#402D1D;
  --blue: #91B7BF;
  --dark-blue: #406A73;
}

html {
  scroll-behavior: smooth;
}

div {
  box-sizing: border-box;
}

/* Nav */

nav {
  position: relative;
  background-color: var(--blue);
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: var(--rock);
  font-family: 'Mrs Sheppards', cursive;
  font-size: 2.6rem;
  font-weight: 800;
}

nav ul li:first-child {
  order: 1;
}

nav ul li:last-child {
  order: 1;
}

nav ul li a {
  padding: 10px 15px;
}

nav li :hover {
  color: var(--dark-blue);
}


.top_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 250px;
  padding-inline-start: 0px;
}

.top_menu li {
  width: 300px;
}

#index {
  display: flex;
}

/* Splash */
.splash {
  display: grid;
  background-image: url(../img/pattern.webp);
  background-size: cover;
  width: 100%;
  height: clamp(200px, 15vw, 125vh);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  box-shadow: var(--dark-rock) 0px 7px 29px 0px;
}

/* Typografi */
h1, h3 {
  font-family: 'Mrs Sheppards', cursive;
  margin: 0;
}

h1 {
  color: var(--dark-rock);
  font-size: 7rem;
  text-align: center;
  text-decoration-style: solid;
}

h2 {
  display: flex;
  font-family: "grobe deutchmeister";
  font-size: 3rem;
  color: var(--white);
  text-shadow: 2px 2px var(--dark-rock);
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: var(--dark-sand);
  margin: 40px 10px 20px
}

h3:first-child {
  margin-top: 0;
}

p,
a,
li {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 1rem;
  color: var(--rock);
}

p {
  max-width: 60ch;
  margin: 0 20px 20px;
}

li, ul {
  list-style: none;
  padding-left: 0;
}

li{
  margin: 10px;
}

/* Body */
body {
  background-color: var(--sand);
  margin: 0 auto;
}

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1;
  margin: 40px 0;
}

.col_img {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  align-items: center;
}

.col_img img {
  margin: 20px;
  width: 330px;
  height: 160px;
  object-fit: cover;
  border: solid 4px var(--dark-sand);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  background-color: var(--blue);
  font-family: "grobe deutchmeister";
  font-size: 2rem;
  color: var(--sand);
  padding: 10px 15px;
}

@media (min-width: 650px) {
  /* nav */
  nav ul li:first-child {
    order: 0;
  }
  
  nav ul li:last-child {
    order: 0;
  }

  .top_menu {
    flex-direction: row;
    height: 100px;
  }

  /* Typografi */
  h1 {
    color: var(--dark-rock);
    font-size: 10rem;
    text-align: center;
    text-decoration-style: solid;
  }

  h2 {
    margin-top: 60px;
    height: 100px;
  }

  /* Main */
  .col_img{
    margin: 20px 0;
  }

  .col_img img {
    width: 595px;
    height: 300px;
  }
}