/* Splash */
#splash_forside {
  display: flex;
  height: clamp(300px, 51vw, 100vh);
  border-bottom: solid 4px var(--rock);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

#splash_else {
  border-top: 4px solid var(--dark-rock);
  border-bottom: 4px solid var(--dark-rock);
}

/* Forside side 1 */
.col-1 {
  display: flex;
  background-color: var(--blue);
  border-bottom: solid 4px var(--dark-rock);
  border-top: solid 4px var(--dark-rock);
  height: 65%;
  width: 100%;
  margin: 0; 
  align-items: center;
  justify-content: center;
}

.col-1 img{
  width: 35vw;
  transform: rotate(90deg);
}

.scroll_down img{
  width: 0%;
  height: 0%;
}

/* Forside side 2 */
#bottom_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  text-align: center;
  padding-inline-start: 0px;
  border-top: none;
}

#bottom_menu li {
  text-align: center;
  transform: rotate(90deg);
}

#bottom_menu li:hover {
  opacity: 0.5;
}

#bottom_menu li a img {
  max-width: 20vw;
  height: 40vh;
  object-fit: cover;
}

/* About */
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#profile {
  display: flex;
  max-width: 41vh;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 10px;
}

section {
  margin: 20px 0;
}

section :first-child {
  font-weight: 1000;
}

/* Tabs */
.tab-wrap .tablink {
  display: table-cell;
  border-bottom: 4px solid transparent;
  padding: 16px 16px;
  color: var(--rock);
  cursor: pointer;
}

.tab-wrap .tablink:hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.tab-wrap .tab-active {
  border-color: var(--dark-rock);
  color: var(--dark-rock);
}

.tab-wrap .tab_main {
  border-top: 0;
}

.tab-wrap .tabcontent {
  display: none;
  font-size: 15px;
  color: var(--rock);
}

.tab-wrap .tabcontent.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab-header {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-sand);
  margin: 0;
  justify-content: center;
  box-shadow: var(--dark-rock) 0px 7px 29px 0px;
}

.tab-header li {
  font-family: "grobe deutchmeister", cursive;
  font-size: 2rem;
}

/* Project main */
.col a {
  font-family: "grobe deutchmeister", cursive;
  margin: 0 10px;
  font-size: 1.5rem;

}

@media (min-width: 650px) {
  /* Splash */
  #splash_forside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }

  /* Forside side 1 */
  .col-1, .col-2, .col-3 {
    flex: 2;
  }

  .col-1 {
    height: clamp(350px, 51vw, 100vh);
    border: none;
    border-right: solid 4px var(--dark-rock);
    transform: none;
    width: 150px;
  }

  .col-1 img {
    transform: none;
    margin-top: 40px;
    margin-left: 40px;
    width: 59%;
    margin-bottom: 50px;
  }

  .col-3 {
    display: flex;
    align-items: flex-end;
  }
  
  .scroll_down {
    display: block;
    border: solid 4px var(--dark-rock);
    border-bottom: none;
    background-color: var(--rock);
    width: 20%;
    padding: 40px 20px;
  }

  .scroll_down:hover {
    background-color: var(--dark-rock);
  }

  .scroll_down img{
    width: 100%;
    height: 100%;
  }
  
  /* Forside side 2 */
  #bottom_menu {
    flex-direction: row;
    gap: 15px;
    padding-block-start: 120px;
    padding-block-end: 90px;
  }

  #bottom_menu li a img {
    max-width: clamp(100px, 8vw, 100vh);
    height: 75vh;
    object-fit: cover;
  }

  #bottom_menu li {
    transform: none;
  }
  
  /* About */
  #profile {
    max-width: 61vh;
    height: 95vh;
  }

  /* Tabs */
  .tab-header {
    flex-direction: row;
  }
}