/* Generel */
@font-face {
  font-family:"grobe deutchmeister";
  src: url("../fonts/grobe_deutschmeister.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

div {
  box-sizing: border-box;
}

/* nav */

nav {
  position: relative;
  background-color: #91B7BF;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #735E4C;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 2.6rem;
  font-weight: 800;
}

nav ul li:first-child {
  order: 1;
}

nav ul li:last-child {
  order: 1;
}

nav ul li a {
  padding: 10px 15px;
}

nav li :hover {
  color: #406A73;
}


.top_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 250px;
  text-align: center;
  padding-inline-start: 0px;
}

.top_menu li {
  width: 300px;
}

#index {
  display: flex;
}

/* Splash */

.splash {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(200px, 15vw, 125vh);
  background-size: cover;
  color: #FFFFFF;
  box-shadow: #402D1D 0px 7px 29px 0px;
}

/* Typografi */
h1, h3 {
  font-family: 'Mrs Sheppards', cursive;
  margin: 0;
}

h1 {
  color: #402D1D;
  font-size: 7rem;
  text-align: center;
  text-decoration-style: solid;
}

h2 {
  display: flex;
  font-family: "grobe deutchmeister";
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 2px 2px #402D1D;
  background-color: #91B7BF;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: #bea691;
  margin: 40px 10px 20px
}

h3:first-child {
  margin-top: 0;
}

p,
a,
li {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #735E4C;
}

p {
  max-width: 60ch;
  margin: 0 20px 20px;
}

li, ul {
  list-style: none;
  padding-left: 0;
}

li{
  margin: 10px;
}

/* Body */
body {
  background-color: #FFECDB;
  margin: 0 auto;
}

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1;
  margin: 40px 0;
}

.col_img {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  align-items: center;
}

.col_img img {
  margin: 20px;
  width: 370px;
  height: 190px;
  object-fit: cover;
  border: solid 4px #bea691;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 30px;
  background-color: #91B7BF;
  font-family: "grobe deutchmeister";
  font-size: 2rem;
  color: #FFECDB;
  padding: 10px 15px;
}

@media (min-width: 650px) {
  /* nav */
  nav ul li:first-child {
    order: 0;
  }
  
  nav ul li:last-child {
    order: 0;
  }

  .top_menu {
    flex-direction: row;
    height: 100px;
  }

  /* Typografi */
  h1 {
    color: #402D1D;
    font-size: 10rem;
    text-align: center;
    text-decoration-style: solid;
  }

  h2 {
    margin-top: 60px;
    height: 100px;
  }

  /* Main */
  .col_img{
    margin: 20px 0;
  }

  .col_img img {
    margin: 20px;
    width: 595px;
    height: 300px;
    object-fit: cover;
  }
}