/* nav */

.top_menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 120px;
  text-align: center;
  padding-inline-start: 0px;
}

#index img {
  min-width: 300px;
  max-width: 400px;
}

#index {
  display: flex;
}

nav {
  position: relative;
  background-color: black;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Kameron";
  font-size: 1.6rem;
}

nav ul li a {
  padding: 10px 15px;
}

@media (min-width: 650px) {
  .top_menu {
    flex-direction: row;
    height: 60px;
  }
  nav ul li:not(:last-child, :first-child) {
    border-right: 2px solid white;
  }
}

@media (min-width: 1500px) {

}

nav li :hover {
  text-decoration: underline;
  color: grey;
}

/* Overskrift */
#overskrift h1,
#overskrift p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/*  */

/* Splash */

.splash {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(200px, 15vw, 125vh);
  background-size: cover;
  color: white;
  box-shadow: darkgray 0px 7px 29px 0px;
}

/* Typografi */
h1, h2, h3 {
  font-family: "Kameron";
  margin: 0;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p,
a,
footer,
li {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

p {
  max-width: 60ch;
}

/* li 40px padding fejl */
li {
  padding-left: 0;
}

cite {
  font-family: "Kameron";
  font-size: 25px;
  text-align: center;
}

/* Body */
body {
  margin: 0 auto;
}

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 60px;
  color: white;
  padding: 10px 15px;
}
