#splash_projects {
    background-image: url(/img/Pattern.webp);
    border-top: 4px solid #402D1D;
    border-bottom: 4px solid #402D1D;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-block-start: 30px;
    align-self: center;
}

.col {
    flex: 1;
    margin: 20px 0;
}

.col_img {
    flex: 1;
    margin: 20px 0;
}

.col_img img {
    width: 595px;
    height: 595px;
    object-fit: cover;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}