#splash_projects {
    background-image: url(../img/Pattern.webp);
    border-top: 4px solid #402D1D;
    border-bottom: 4px solid #402D1D;
}

.tab-wrap .tablink {
    display: table-cell;
    border-bottom: 4px solid transparent;
    padding: 16px 16px;
    color: #735E4C; cursor:pointer;
}

.tab-wrap .tab-active{
    border-color: #406A73; 
    color: #406A73;
}

.tab-wrap .tab_main{
    border-top: 0;
}

.tab-wrap .tabcontent{
    display: none;
    font-size: 15px;
    color: #735E4C;
}

.tab-wrap .tabcontent.active{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab-header {
    display: flex;
    flex-direction: column;
    background-color: #bea691;
    margin: 0;
    justify-content: center;
    box-shadow: #402D1D 0px 7px 29px 0px;
}

.tab-header li{
    font-family: "grobe deutchmeister", cursive;
    font-size: 2rem;
}

.col a {
    font-family: "grobe deutchmeister", cursive;
    margin: 0 10px;
    font-size: 1.5rem;

}

@media (min-width: 650px) {
    .tab-header {
        flex-direction: row;
    }    
  }